[Unit]
Description=ClientPart
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill client
ExecStartPre=-/usr/bin/docker rm client
ExecStartPre=/usr/bin/docker pull naviot/scalr:old_version
ExecStart=/usr/bin/docker run --privileged --volume=/:/rootfs --name client naviot/scalr:old_version /code_dir/code/client_old.sh
ExecStop=/usr/bin/docker stop client

[Install]
WantedBy=multi-user.target
